<p><%= @recipient.username %>さん</p>

<p>アカウントに対して出されていた編集制限カードは、管理者またはスーパユーザによって解除されました。</p>

<p>
[審査結果]<br>
<% if (@require_blue) %>
編集の投稿が再び可能となりましたが、次回の投稿でもブルーカード自動発行による審査が予定されました。次回審査で充分な編集クオリティが認められますと、以降は自由に投稿が出来るようになります。
<% else %>
おめでとうございます。現時点より自由に編集を行って頂くことが可能です。今後とも<%= SITE_NAME %>をよろしくお願い致します。
<% end %>

<%= render :partial => 'signature' %>
