<p><%= @recipient.username %>さん</p>

<p>局面ペディアの編集にご参加頂き誠に有り難うございます。</p>

<p>アカウントに対して自動発行されたブルーカード(投稿初心者カード)が、管理者またはスーパユーザによって解除されました。おめでとうございます。<br>引き続き、当サイトの編集メンバとしてご協力を賜りますようお願い致します。</p>

<p>今後とも<%= SITE_NAME %>をよろしくお願い致します。</p>

<%= render :partial => 'signature' %>
