<% content_for :title do %>
<%= @list_title %>
<% end %>
<h2><%= @list_title %></h2>
<% if @positions.length == 0 %>
  <p><span class="dark_red">該当局面がありません</span></p>
<% else %>
  <p style="font-size:15px;margin-left:10px;"><%= @caption %></p>
  <div style="margin-left:5px;">
  <%= render :partial => 'tile', :locals => { :positions => @positions, :type => @type } %>
  </div>
<% end %>
