<h2>解説</h2>
<% if (content) %>
<%= interpret_wiki(content).html_safe %>
<% else %>
<div class="level2"><span style="color:#b00">この局面はまだ解説が投稿されていません。[編集]をクリックして解説を書き込んで下さい。</span></div>
<% end %>


<h2>本局面掲載棋書</h2>
