<h2>解説</h2>
<% if (content) %>
<%= interpret_wiki(position_id, content, current_user != nil).html_safe %>
<% else %>
<div class="level2"><span class="dark_red">この局面はまだ解説が投稿されていません。[編集]をクリックして解説を書き込んで下さい。</span></div>
<% end %>

<script type="text/javascript">
  function setPreview(){
    xOffset = -120;
    yOffset = 158;
                    
    $("a.preview").hover(function(e){
      $("body").append("<iframe id='preview' src='" + this.href + "?preview=true'></iframe>");                
      $("#preview")
      .css("top",(e.pageY - yOffset ) + "px")
      .css("left",(e.pageX + xOffset ) + "px")
      .fadeIn("slow");
    },
    function(){
      $("#preview").remove();
    }); 
    $("a.preview").click(function(e){
      $("#preview").remove();
    });

    $("a.preview").mousemove(function(e){
      $("#preview")
      .css("top",(e.pageY - yOffset) + "px")
      .css("left",(e.pageX + xOffset) + "px");
      });     
    };

$(function(){
  setPreview();
});
</script>
