<h2>解説</h2>
<div class="wiki">
<% if (content) %>
<%= content %>
<% else %>
<span style="color:#b00">この局面はまだ解説が投稿されていません。[編集]をクリックして解説を書き込んで下さい。</span>
<% end %>
</div>

<br><br><br><br>↓以下は開発中のサンプルイメージ
<h3>有名局</h3>
<div class="wiki_sub">
1985年 **  vs **
</div>
<h3>類似局面</h3>
<div class="wiki_sub">
端歩を突き合っている形 --->
</div>
<h3>AI評価値</h3>
<div class="wiki_sub">
Bonanza6.0 +239 (確認日:2014/3/21)
</div>

<h2>本局面掲載棋書</h2>
