h2 スーパユーザ募集中!
div.level2 一般ユーザよりも広範囲の情報へのアクセス権が与えられる「スーパユーザ」を期間限定で特別募集中です。ご希望の方は、<b>３つ以上の局面への新規解説を投稿の上</b>、代理窓口 info@81dojo.com までユーザ名をご連絡下さい。投稿内容を審査の上でスーパユーザに昇格させて頂きます。(#{link_to('ユーザクラス別機能一覧表', '/pages/privilege')})
