<h1>New game</h1>
<tt><pre>
<% if (@error) %>
Error: <%= @error %>
<% else %>
Successfully added.<br>
<% @positions.each do |pos| %>
<% pos.csa.split("\n").each do |line| %>
<%= line %>
<% end %>
<% end %>
<% end %>
</pre></tt>
