// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#theme_diagram {
  border: 1px solid grey;
  margin-left: 20px;
  width: 100px;
  overflow-x: visible;
  padding-right: 20px;

}
