// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#position {
	float: left;
}

div#summary {
	float: left;
	margin-left: 40px;
}

div#stat_next_moves {
	float: left;
}

div#stat_appearances {
	float: left;
	margin-left: 20px;
}
