// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#position {
}

div#summary {
}

div#stat_next_moves {
	max-height: 200px;
	padding-right: 15px;
	overflow-y: auto;
	overflow-x: hidden;
}

div#stat_appearances {
	max-height: 200px;
	padding-right: 15px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.p {
	padding-top: 4px;
	padding-bottom: 4px;
}

div.level2 {
	padding-left: 15px;
}
div.level3 {
	padding-left: 25px;
}
div.level4 {
	padding-left: 35px;
}
div.level5 {
	padding-left: 45px;
}

table.wiki {
	margin-left: 35px;
	min-width: 450px;
}
table.wiki td.left {
	padding-left: 8px;
	text-align: left;
}

div.tile_position {
	padding: 4px;
	margin-right: 8px;
	margin-bottom: 8px;
	background-color: #f3f9ff;
	text-align: center;
	float: left;
	height: 185px;
	font-size: 13px;
}
