// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#position {
}

div#summary {
}

div#stat_next_moves {
	max-height: 200px;
	overflow-y: auto;
}

div#stat_appearances {
	max-height: 200px;
	overflow-y: auto;
}

div#wiki_edit_buttons {
	float: right;
	margin-right: 20px;
}

div.level2 {
	padding-left: 15px;
}
div.level3 {
	padding-left: 25px;
}
div.level4 {
	padding-left: 35px;
}
div.level5 {
	padding-left: 45px;
}

table.wiki {
	margin-left: 35px;
	min-width: 450px;
}
table.wiki td.left {
	padding-left: 8px;
	text-align: left;
}
