<p><%= @resource.email %>様</p>

<p>パスワードの変更申請を受け付けました。下のリンクからパスワードの変更を行って下さい。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりが無い場合は、このままメールを破棄して下さい。</p>
<p>上のリンクにアクセスして変更手続きをしない限り、パスワードが変更されることはありません。</p>
