<!DOCTYPE html>
<html>
<head>
  <title><%= SITE_NAME %> エクスポート</title>
</head>
<body style="font-family:'メイリオ','Meiryo','Meiryo UI','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','Takao Pゴシック','TakaoPGothic','sans';">
<%= yield %>
</body>
</html>
